@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/images.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">EVENTOS DISPONIBLES</h1>
    <p>Disfruta de los eventos que tenemos disponibles</p>
</div>

<div class="image-fader">
    <img src="~/lib/pablo.png" alt="pablo" width="900" height="450">
    <img src="~/lib/carin.png" alt="carin" width="900" height="450">
    <img src="~/lib/pink.png" alt="pink" width="900" height="450">
    <img src="~/lib/miriam.png" alt="miriam" width="900" height="450">
</div>
