@model VentasApp.Models.EventoCategoria

@{
    ViewData["Title"] = "Delete";
}

<h3>Eliminar Categoria</h3>

<h4>¿Seguro que quieres borrar esto?</h4>
<div>
    <h4>Categoria de Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaEntrada.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.NombreEvento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventoCategoriaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
